/* Add styles to customize the appearance of the login page */


  
.firstCircle{
    width: 200px;
height: 200px;
flex-shrink: 0;
position:absolute;
top:99px;
right:-50px;
    border-radius: 500px;
background: rgba(255, 92, 83, 0.34);
}
// .form-group{
//     background-color: #FF5C53;
// }